<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output download</title>
</head>
<body>
    <h1>hello</h1>
    <a href="/"><button>Back</button></a>
    <a href="/downloading" download><button>Download</button></a>
    <!--<form method="POST" action="/download">
        <button type="submit" name="button1" value="Back">ssdfsdfdsfs</button>
        <input type="submit" name="button2" value="downlaod">
    </form>-->
</body>
</html>